<div class="d-flex" style="min-height: 100vh">
  <div style="width: 240px" class="d-none d-md-block">
    <app-sidebar></app-sidebar>
  </div>

  <div class="flex-grow-1 d-flex flex-column">
    <nav class="navbar navbar-dark bg-dark d-md-none">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 d-flex align-items-center gap-2">
          <img src="/MarketFlow.png" alt="Marketflow" height="28" class="rounded" />Marketflow Admin
        </span>
        <button class="btn btn-outline-light btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#adminSidebar">
          <i class="bi bi-list"></i>
        </button>
      </div>
    </nav>

    <div class="offcanvas offcanvas-start d-md-none" tabindex="-1" id="adminSidebar">
      <div class="offcanvas-body p-0">
        <app-sidebar></app-sidebar>
      </div>
    </div>

    <main class="flex-grow-1 bg-light p-3 p-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
